<div>
  <button (click)="clearState()" id='clearState'>clear stale state</button>
  <button (click)="getUser()" id='getUser'>get user</button>
  <button (click)="removeUser()" id='removeUser'>remove user</button>
</div>
<div>
  <button (click)="startSigninMainWindow()" id='startSigninMainWindow'>start signin main window</button>
  <button (click)="endSigninMainWindow()" id='endSigninMainWindow'>end signin main window</button>
</div>
<div>
  <button (click)="startSignoutMainWindow()" id='startSignoutMainWindow'>start signout main window</button>
  <button (click)="endSignoutMainWindow()" id='endSignoutMainWindow'>end signout main window</button>
</div>
<div *ngIf="_user">
  <pre>{{_user | json}}</pre>
</div>